*{
    margin:0;
    padding:0;
    border:border-box;
}
.navbar{
    height:80px;
    padding:0px 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.navbar img{
    width:35%;
}

.navbar span{
    height:50px;
    width:350px;
    display:flex;
    align-items: center;
    border-radius:40px;
    border:1px solid rgba(128, 128, 128, 0.342);
    justify-content: space-evenly;
}
.navbar button{
    height:48px;
    padding:0px 0px 0px 8px;
    background-color: transparent;
    border:1px solid transparent;  
    font-size:0.85rem;
    padding:0px 16px;
}
.guest {
   display:flex;
   align-items:center;
   justify-content: space-evenly;
}
#guest{
    color:#717171;
}
.guest-search{
    height:32px;
    width:32px;
    border-radius:50%;
    background-color:#ff385c;
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    margin:7px;
    padding:3px;
    font-size:1rem;  
}
a{
    color:#222222;
    text-decoration: none;
}
.nav-right{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.text{
    font-size:1.2rem;
    color:#222222;
    font-weight:500;
    padding:12px;
}
.text:hover{
    background-color: rgba(128, 128, 128, 0.055);
    border-radius:40px;
}
.loc-icon{
    font-size:1rem;
    padding:12px;
}
.loc-icon:hover{
    background-color: rgba(128, 128, 128, 0.055);
    border-radius:40px;
}
.main-menu{
    padding:3px 3px 3px 10px;
    background-color:#ffffff;
    border:1px solid rgba(128, 128, 128, 0.342);
    border-radius:40px;
}
.main-menu i{
    font-size:1.3rem;
}
/* head-panel */
.head-panel{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-top:1px solid rgba(128, 128, 128, 0.342);;
    height:80px;
    padding:0px 40px;
}
.img{
    margin:12px 0px 10px;
    padding:4px 0px;
    color:#717171;
    font-size:0.75rem;
    opacity: 0.5;
}
.img:hover{
    opacity: 1;
    font-weight: 500;
}

.panel-button{
    height:48px;
    width:90px;
    background-color: #ffffff;
    border:1px solid rgba(128, 128, 128, 0.342);
    border-radius:12px;
    padding:7px 0px;
}
.panel-button span{
    font-size:0.75rem;
    padding:2px 6px 0px;
}
.display-tax{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:48px;
    width:222px;
    padding:0px 16px;
    border:1px solid rgba(128, 128, 128, 0.342);
    border-radius:12px;
}
.display-tax span{
    height:18px;
    font-size:0.85rem;
}
.switch{
    width:36px;
    height: 24px;
    border:none;
    border-radius:.5rem;
    font-size: 2rem;
}
/* main */
.places{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
}
.places a{
    width:23%;
    height:400px;
    padding-bottom:20px;
    margin-bottom:20px;
    background-size:contain;
    background-repeat: no-repeat;
}
.main-img{
    height:310px;
    background-size:cover; 
    border-radius:15px;  
}
#box1{
    background-image: url(img/img1);   
}
#box2{
    background-image: url(img/img2);    
}
#box3{
    background-image: url(img/img3);  
}
#box4{
    background-image: url(img/img4);  
}
#box5{
    background-image: url(img/img9);  
}
#box6{
    background-image: url(img/img6);    
}
#box7{
    background-image: url(img/img7);  
}
#box8{
    background-image: url(img/img8); 
}
#box9{
    background-image: url(img/Alappuzha-india.webp); 
}
#box10{
    background-image: url(img/Mulshi\,india.webp); 
}
#box11{
    background-image: url(img/thakursai\,india.webp); 
}
#box12{
    background-image: url(img/Alappuzha-india2.webp); 
}

.img-info p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:0.85rem;
    line-height:1.43;
    font-weight:500;
}

/* Footer */
.footer{
    background-color:ghostwhite
}
.exploring{
    text-align: center;
}
.exploring p{
    margin: 50px 0 0;
    color:#222222;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn{
    background-color: #222222;
    color: #ffffff;
    padding: 12px 22px;
    margin: 16px 0 0;
    border-radius: .5rem;
}
.footer a:hover{
    text-decoration-line: underline;
}
.services{
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}
.support-sec{
    display: flex;
    flex-direction: column;
}
.support-sec a,h3{
    padding: .5rem;
}
.hosting-sec{
    display: flex;
    flex-direction: column;
}
.hosting-sec a,h3{
    padding: .5rem;
}
.airbnb-sec{
    display: flex;
    flex-direction: column;
}
.airbnb-sec a,h3{
    padding: .5rem;
}
.footer-panel{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}
.footer-panel-left{
    display: flex;
    gap:1rem;
}
.footer-panel-right{
    display: flex;
    gap: 1rem;
}

